
body{
  font-family: sans-serif;
  margin: 2%;
  padding: 0;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

* {
  box-sizing: border-box;
  position: relative;
}

.square {
  width: 105px;
  height: 105px;
  border: 3px solid black;
  background-color: #3498db; 
  font-weight: bold;
  cursor: pointer;
  transition: background-color 0.2s ease; 
}

.square:hover {
  background-color: #f39c12; 
}

.board{
  display: flex;
  flex-wrap: wrap;
  width: 315px;
  height: 315px;
}

.status {
  margin-bottom: 30px;
  display: inline;
  position: relative;
  color: #3498db; 
  font-size: 36px; 
  font-weight: bold;
}

.reset-button {
  background-color: #ff5733;
  color: white;
  border: none; 
  padding: 10px 20px; 
  cursor: pointer;
  font-weight: bold;
  position: relative;
 
}

.game {
  display: flex;
  flex-direction: column; 
  align-items: center;
}





